.homePage{
    display: flex;
    justify-content: center;
    img{
        max-width: 80vh;
    }

    .nested-enter-active .inner,
    .nested-leave-active .inner {
        transition: all 0.3s ease-in-out;
    }

    .nested-enter-from .inner,
    .nested-leave-to .inner {
        transform: translateX(30px);
        opacity: 0;
    }
}