.toy-preview{
    padding: 8px;
    border-radius: 6px;
    background-color: #d09dffb4;

    .btn-container{
        margin-top: 10px;
        display: flex;
        gap: 2.5px;
        justify-content: end;
    }
}