* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 html {

} 

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

// links
a {
    color: #161616;

    // &.active {
    //     background-color: blue;
    //     color: clr2;
    // }
}

mark {
    color: #161616;
    background-color: transparent;
}

textarea {
    resize: none;
}

/* 
.main-layout {
    max-width: 1400px;
    margin: 0 auto;
} */




/* ::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track {
    background: #f1f1f1;

}
  ::-webkit-scrollbar-thumb {
    background: var(--clr-pink);
    border-radius: 10px;
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ce086b
} */
