.main-layout{
    display: grid; 
    grid-template-columns: $layoutPadding 1fr $layoutPadding;
    min-height: 88vh;  
    padding: 0 20px;

    > * {
        grid-column: 2;
    }
}

.list-layout{
    display: grid; 
    grid-template-columns:repeat(auto-fit, minmax(240px,1fr));
    gap: 10px;
    
}